.footerMain {
  margin: 0 auto;
  font-weight: 600;
  padding: 2rem;
  max-width: 54rem;
  font-size: 0.8rem;
}

.footerContainer {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  max-width: 56rem;
}

.footerLinks {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
}

.footerLinks a {
  width: 0.9rem;
}
