.footerMain {
  margin-top: auto;
  font-weight: 600;
  padding: 1.2rem 0;
}

.footerContainer {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  max-width: 56rem;
  padding: 0 2rem;
}

.footerLinks {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
}

.footerLinks a {
  width: 1.3rem;
}
