.project-title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.project-title-inner {
  display: flex;
  align-items: baseline;
  gap: 1.2rem;
}

.demo-vid {
  text-align: center;
}

.in-progress {
  padding: 0.3rem 0.5rem;
  background-color: orange;
  border-radius: 10px;
}

.private-project {
  padding: 0.3rem 0.5rem;
  background-color: rgb(255, 141, 131);
  border-radius: 10px;
}