.hero {
  min-height: 34rem;
  max-width: 54rem;
  padding: 7rem 2rem;
  margin: 0 auto;
}

.highlighter {
  position: relative;
  background-image: linear-gradient(
    rgba(161, 227, 255, 0.667),
    rgba(161, 227, 255, 0.667)
  );
  background-repeat: no-repeat;
  background-size: 100% 4px;
  background-position: 0 100%;
  transition: background-size 0.3s ease-in-out;
}

.highlighter:hover {
  background-size: 100% 100%;
}

.projects {
  background-color: var(--background-secondary);
}

.projectsInner {
  max-width: 54rem;
  padding: 3rem 2rem;
  margin: 0 auto;
}

.skills {
  max-width: 54rem;
  padding: 3rem 2rem;
  margin: 0 auto;
}

.title {
  font-size: 2.2rem;
  font-weight: 800;
  margin: 0;
  position: relative;
  color: black;
  white-space: nowrap;
}

.hero h3 {
  color: rgb(39, 39, 39);
  font-size: 2.2rem;
  margin-top: 0rem;
  line-height: 1;
}

.links {
  display: flex;
  padding-top: 0.2rem;
  gap: 0.4rem;
}

.faIcon {
  min-height: 1.2rem;
}

.projectLinks .faSeedling {
  width: 0.75rem;
}

.projectLinks .faGit {
  width: 0.75rem;
}

.titleH2 {
  font-size: 1.4rem;
}

.iconsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 16%);
  padding-top: 0.3rem;
  font-size: 0.9rem;
}

.skillsIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 5rem;
}

.skillsIcon img {
  max-height: 3.1rem;
  max-width: 3.1rem;
  object-fit: cover;
}

.skillsGroup {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.skillsGroup h3 {
  font-size: 1.15rem;
}

.projectsGroup {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 0.9rem;
}

.projectsCard {
  display: grid;
  grid-template-columns: 1.23fr 1fr;
  grid-gap: 1rem;
  padding: 2.2rem 2.6rem;
  border-radius: 3rem;
  border: 1px solid rgba(200, 200, 200, 0.48);
  box-shadow: rgba(75, 75, 75, 0.1) 0 0 10px;
  min-height: 18rem;
  background-color: #ffffff;
}

.projectsCard:hover {
  transform: scale(1.007);
}

.projectsCard h3 {
  font-size: 1rem;
}

.projectsCard p {
  font-size: 0.94rem;
}

.moreInfo {
  font-style: italic;
}

.projectImg {
  width: 100%;
  object-fit: cover;
}

.projectLangs {
  padding-top: 0.35rem;
}

.projectLangs ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.4rem;
  row-gap: 0.3rem;
  padding: 0;
  margin: 0;
}

.projectLangs ul li {
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0;
  list-style: none;
  border: 1px solid rgba(189, 189, 189, 0.48);
  border-radius: 4rem;
  padding: 0.2rem 0.5rem;
}

.projectHeader {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.projectsCard h3 {
  margin: 0;
}

.projectLinks {
  display: flex;
  gap: 0.25rem;
  font-weight: 700;
}

.projectLinks a {
  color: #ffffff;
  border: none;
  margin: 0;
}

.projectSingleLink {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  color: #ffffff;
  background-color: #90c8fb;
  font-size: 0.7rem;
  padding: 0.15rem 0.4rem;
  border-radius: 0.5rem;
}

.projectSingleLink:hover {
  background-color: #90c7fbb5;
  cursor: pointer;
}

.contact {
  background-color: var(--background-secondary);
}

.contactInner {
  max-width: 54rem;
  padding: 3rem 2rem;
  margin: 0 auto;
}

.contactContent {
  display: flex;
  gap: 5rem;
}

.contactTitle,
.contactLinks {
  display: flex;
  flex-direction: column;
}

.contactTitle p {
  margin: 0;
  margin-bottom: 0.18rem;
}

.top {
  position: fixed;
  bottom: 2.5rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  background: rgba(208, 208, 208, 0.454);

  border: none;
  border-radius: 10px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 100;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(3%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.loadAnimation {
  animation: 1.5s fadeInUp;
}

@media screen and (max-width: 768px) {
  .imgCard {
    order: -1;
  }
  .projectsCard {
    grid-template-columns: 100%;
    padding: 3.4rem 2rem;
  }
  .iconsContainer {
    grid-template-columns: repeat(auto-fill, 33%);
  }
  .top {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  #hero {
    padding: 0 2rem;
    min-height: 35rem;
  }
}

@media screen and (max-width: 525px) {
  .projectHeader {
    flex-direction: column;
  }
}
